* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
}

.pBack {
  background-color: #038d2c;
  height: 100vh;
}

.pBack2 {
  display: block;
  margin: auto;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-farm {
  color: #038d2c !important;
}

.btn-farm {
  background-color: #038d2c;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn-farm:hover {
  background-color: #ffffff;
  color: #038d2c;
  border-color: #038d2c;
}
.btn-farm2 {
  background-color: #0356a3;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn-farm2:hover {
  background-color: #ffffff;
  color: #0356a3;
  border-color: #0356a3;
}

.smallex {
  font-size: 12px !important;
}

/* dash */
#wrapper {
  overflow-x: hidden;
}
.bgSide {
  background-color: #038d2c;
}
.bgSideAdmin {
  background-color: #0356a3;
}
.bgItem {
  background-color: #025c1d;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.bgItemAdmin {
  background-color: #023c74;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.bgItem:hover {
  background-color: #ffffff;
  color: #038d2c;
  border-left: 5px solid #038d2c;
}
.bgItemAdmin:hover {
  background-color: #ffffff;
  color: #023c74;
  border-left: 5px solid #023c74;
}
.list-group .active {
  background-color: #ffffff;
  color: #038d2c;
  border-left: 5px solid #038d2c;
}
.list-group .activeAdmin {
  background-color: #ffffff;
  color: #023c74;
  border-left: 5px solid #023c74;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  position: sticky;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  position: sticky;
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* end of dash */

/* homepage */
nav.nav-menu {
  background-color: #ffffff !important;
}
.navbar-nav .nav-itemT a {
  color: #038d2c !important;
  border-radius: 5px;
  border: solid #038d2c00 0.5px;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.navbar-nav .nav-itemT a:hover {
  background-color: #038d2c;
  color: #ffffff !important;
  /* border-radius: 15px; */
}
.bordered {
  border: solid #038d2c 0.5px !important;
  border-radius: 5px;
}
/* header {
  position: relative;
  height: 100vh;
} */
.owl-carousel1 {
  /* position: absolute; */
  height: 91vh !important;
  width: 100%;
  /* top: 0;
  left: 0; */
}
/* .owl-carousel .owl-item div {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
} */
.slide {
  height: 91vh;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 91vh;
  background-color: #00000000;
}
.slider-content {
  position: absolute;
  right: 0;
  bottom: 21%;
  z-index: 99;
  background-color: #ffffffe8;
  max-width: 450px;
  border-radius: 10px 0 0 10px;
}
.owl-item.active .slider-content {
  animation: fadeInLeftBig 1s ease;
  overflow: hidden;
}
.owl-item.active .slider-content p {
  animation: backInUp 1.9s ease;
}
.slider-content h2 {
  font-size: 30px;
  color: #038d2c !important;
  font-weight: bold;
}
.slider-content p {
  color: #3f3f3f !important;
  font-size: 15px;
}
.fa-ul .list-group-item {
  border: none !important;
  margin-bottom: -17px !important;
  padding-bottom: 0px !important;
}
.serCard {
  background-color: #ffffff;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-in;
}
.serCard img {
  width: auto;
  max-width: 175px;
  height: auto;
}
.serCard h5 {
  font-size: 25px;
  color: #038d2c !important;
  font-weight: bold;
}
.serCard p {
  margin-bottom: 0px !important;
  color: #3f3f3f !important;
  font-size: 16px;
}
.accordion div .card-header {
  background-color: #ffffff !important;
}
.accordion div .card-header h2 button {
  text-decoration: none !important;
  color: #038d2c !important;
  font-weight: 700;
}
.accordion div div .card-body {
  background-color: #038d2c9d !important;
  color: #ffffff !important;
}
.sliCard {
  /* max-width: 300px !important; */
  height: auto;
}
.sliCard .cli {
  color: #038d2c !important;
  font-weight: 500;
}
.display-4 {
  font-size: 41px !important;
}
.ourFarma {
  background-color: #ffffff !important;
  color: #038d2c !important;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-in;
}
.ourFarma:hover {
  background-color: #038d2c !important;
  color: #ffffff !important;
  font-weight: bolder;
}
.ourFcard {
  border-radius: 0 0 31px 0px;
}
.ourFcard div img {
  border-radius: 0 0 31px 0px;
}
.ourFcard div .fInfo {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 15px 0 31px 0px;
  background-color: #ffffffd0;
}
.ourFcard div .fInfo p {
  margin-bottom: 0;
  padding-bottom: 0;
  color: #3f3f3f !important;
  font-size: 15px;
  font-weight: 400;
}

/* end of homepage */

/* message box */
.msgLogo {
  background-color: #038d2c;
  padding: 11px;
}
.msgLogo > img {
  width: 71px;
  height: auto;
}
/* end of message box */

/* remove number Arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* end of remove number Arrow */

/* farm */
.col > div > .subTitle {
  color: #3f3f3f !important;
  font-size: 10px;
}
.col > div > .subInfo {
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.col-auto > div > .subInfo1 {
  color: #038d2c;
  margin-top: -17px;
  font-size: 50px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.col-auto > div > .subInfo1Admin {
  color: #023c74;
  margin-top: -17px;
  font-size: 50px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* end of farm */

/* investor */
.subTitle1 {
  color: #038d2c !important;
  font-size: 15px;
}
.subTitle2 {
  color: #023c74 !important;
  font-size: 15px;
}
.subInfo2 {
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.subInfo3 {
  color: #000000;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.appended {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.infoBtn {
  background-color: #023c74 !important;
}
.progress-bg1 {
  background-color: #353434a2 !important;
}
.progress-bg {
  background-color: #4671ffc7 !important;
}
.progress-purple {
  background-color: #023c74 !important;
}
.progress-green {
  background-color: #038d2c !important;
}
/* end of investor */

/* account */
.acctCard {
  font-size: 20px;
  color: #000000;
  word-wrap: nowrap;
}

.acctCard > td:first-child {
  width: 200px;
}
.acctCard > td:nth-child(2) {
  font-size: 17px;
  padding-top: 15px;
}

/* end of account */
.hide {
  display: none;
}
.hide2 {
  display: block;
}

/* modal */
.zoom-in {
  transform: scale(0.7) !important;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  /* display: block !important; */
}

.zoom-in.show {
  opacity: 1;
  transform: scale(1) !important;
  transform: none;
}
/* end of modal */

@media screen and (max-width: 500px) and (min-width: 200px) {
  .pBack {
    height: 30vh;
  }
  .pBack img {
    width: 130px !important;
  }
}
@media screen and (max-width: 500px) {
  .hide {
    display: block;
  }
  .slider-content {
    max-width: 300px;
    bottom: 10%;
  }
  .slider-content h2 {
    font-size: 21px;
  }
  .slider-content p {
    font-size: 11px;
  }
}
@media screen and (max-width: 768px) {
  .hide2 {
    display: none;
  }
}
